@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic-ext");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: right; }

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: left;
  text-transform: uppercase; }

.header {
  width: 100%;
  height: 500px;
  background-color: rgba(99, 99, 99, 0.1);
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  -ms-flex-item-align: start;
      align-self: flex-start; }
  .header__logo p {
    width: 90px;
    margin: -2px 0;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #393d3c;
    text-transform: uppercase; }

.header__socials li {
  list-style: none;
  display: inline-block;
  margin: 0 20px; }

.header__socials img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.7;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.header__socials a:hover img, .header__socials a:focus img, .header__socials a:active img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

@media screen and (min-width: 768px) {
  .header {
    background: rgba(99, 99, 99, 0.1) url("../img/header_BG.png");
    background-size: 80%;
    background-position: right;
    background-repeat: no-repeat; }
  .header__socials {
    -ms-flex-item-align: center;
        align-self: center; }
    .header__socials li:first-child {
      margin-left: 0; } }

@media screen and (min-width: 1366px) {
  .header {
    width: 67%;
    background-position: right bottom; }
  .header__socials {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .header__socials li {
      margin: 0 7px; }
    .header__socials img {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); } }

.aside {
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #7acec3 url("../img/BG-Line.svg");
  background-size: 100% 100%;
  color: #fff;
  padding: 5% 3% 15% 3%;
  text-transform: uppercase;
  z-index: 99;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }
  .aside .address {
    width: 60%;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .aside .mobile {
    width: 80%;
    text-align: left;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .aside .address__line,
  .aside .mobile__line {
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.2rem; }

.open {
  top: 0;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }

@media screen and (min-width: 1366px) {
  .aside {
    width: 33%;
    height: 500px;
    position: relative;
    top: 0;
    padding: 3%; }
    .aside .address {
      width: 90%; }
    .aside .mobile {
      width: 80%; }
    .aside .address__line,
    .aside .mobile__line {
      list-style: none;
      font-size: 0.8125rem;
      line-height: 0.8125rem; } }

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media screen and (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.main__card--title {
  width: 100%;
  height: 500px;
  background: #ebb240 url("../img/BG-Line.svg");
  background-size: 100% 100%;
  padding: 5%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main__card--title ul {
    margin: 10% 0 120px 10%;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .main__card--title li {
    width: 100%;
    position: relative;
    font-size: 1.2rem;
    line-height: 2.5rem;
    list-style: none;
    text-align: left; }
  .main__card--title li.selected::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 12px;
    background-image: url("../img/arrow_icon.png");
    background-size: 19px 15px;
    background-repeat: no-repeat;
    width: 19px;
    height: 15px; }
  .main__card--title li.selected a {
    color: #000; }
  .main__card--title h2 {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .main__card--title a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .main__card--title a:hover, .main__card--title a:focus, .main__card--title a:active {
    color: #000;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

@media screen and (min-width: 768px) {
  .main__card--title {
    width: 50%; } }

@media screen and (min-width: 1366px) {
  .main__card--title {
    width: 33%;
    padding-top: 10%;
    padding-left: 10%; }
    .main__card--title ul {
      margin: 0 0 90px 0%; }
    .main__card--title li {
      font-size: 0.8125rem;
      line-height: 0.8125rem; }
    .main__card--title li.selected::before {
      top: 0; } }

.main__card--extra {
  width: 100%;
  height: 500px;
  background: #fff url("../img/fondue_BG.png");
  background-position: right;
  background-repeat: no-repeat;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
  color: #333;
  text-transform: uppercase;
  padding: 30px 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .main__card--extra ul {
    margin-top: 5%;
    width: 90%; }
  .main__card--extra li {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7); }
  .main__card--extra span {
    font-weight: 700; }
  .main__card--extra p.counter {
    font-size: 1rem;
    line-height: 1rem;
    color: #ff0000;
    width: 50%;
    text-align: center; }
  .main__card--extra a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1.125rem;
    color: #333;
    margin: 240px 15% 0 15%; }
  .main__card--extra a::before {
    content: '';
    width: 19px;
    height: 15px;
    background-image: url("../img/arrow_icon_yellow.png");
    background-size: 19px 15px;
    position: absolute;
    left: -30px;
    top: 2px; }

.main__card--extra:hover,
.main__card--extra:focus {
  -webkit-box-shadow: inset 0 0 15px 5px #7acec3;
          box-shadow: inset 0 0 15px 5px #7acec3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

@media screen and (min-width: 768px) {
  .main__card--extra {
    width: 50%; }
    .main__card--extra ul {
      width: 50%; } }

@media screen and (min-width: 1366px) {
  .main__card--extra {
    width: 34%;
    font-size: 0.75rem;
    line-height: 0.75rem; }
    .main__card--extra ul {
      width: 70%; }
    .main__card--extra a::before {
      top: 0; } }

.main__card--double {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.card__half--grey,
.card__half--white {
  width: 100%;
  height: 250px;
  padding: 30px 5% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .card__half--grey h3,
  .card__half--white h3 {
    width: 50%; }
  .card__half--grey ul,
  .card__half--white ul {
    margin-top: 5%;
    width: 50%; }
  .card__half--grey li,
  .card__half--white li {
    list-style: none;
    text-transform: uppercase; }
  .card__half--grey span,
  .card__half--white span {
    font-weight: 700; }
  .card__half--grey p,
  .card__half--white p {
    width: 50%;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: justify;
    color: #333; }
  .card__half--grey p.counter,
  .card__half--white p.counter {
    color: #ff0000;
    font-weight: 300;
    text-align: center; }
  .card__half--grey a,
  .card__half--white a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1.125rem;
    color: #333;
    margin: 12px 15% 0 15%;
    text-transform: uppercase; }
  .card__half--grey a::before,
  .card__half--white a::before {
    content: '';
    width: 19px;
    height: 15px;
    background-image: url("../img/arrow_icon_yellow.png");
    background-size: 19px 15px;
    position: absolute;
    left: -30px;
    top: 6px; }

.card__half--grey:hover,
.card__half--grey:focus,
.card__half--white:hover,
.card__half--white:focus {
  -webkit-box-shadow: inset 0 0 15px 5px #7acec3;
          box-shadow: inset 0 0 15px 5px #7acec3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.card__half--grey {
  background-color: rgba(150, 150, 150, 0.3);
  background-image: url("../img/potter_BG.png");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.card__half--white {
  background-color: #fff;
  background-image: url("../img/fiji_BG.png");
  background-size: 40%;
  background-position: left;
  background-repeat: no-repeat;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media screen and (min-width: 768px) {
  .main__card--double {
    height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .card__half--grey,
  .card__half--white {
    width: 50%; } }

@media screen and (min-width: 1366px) {
  .main__card--double {
    width: 33%;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .card__half--grey,
  .card__half--white {
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.75rem; }
    .card__half--grey p,
    .card__half--white p {
      font-size: 0.75rem;
      line-height: 0.75rem; }
    .card__half--grey a::before,
    .card__half--white a::before {
      top: 0; } }

.button {
  width: 65px;
  height: 60px;
  background: none;
  border: 2px solid #7acec3;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .button span {
    width: 40px;
    height: 3px;
    background-color: #7acec3;
    margin: 0 auto;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative; }
  .button span::before,
  .button span::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #7acec3;
    left: 0px; }
  .button span::before {
    top: -7px; }
  .button span::after {
    bottom: -7px; }

.aside .button {
  border: 2px solid #fff; }
  .aside .button span,
  .aside .button span::before,
  .aside .button span::after {
    background-color: #fff; }

.button:hover,
.button:focus {
  border-radius: 30%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

@media screen and (min-width: 1366px) {
  .button {
    width: 125px;
    height: 120px; }
  .nav-button {
    display: none; } }
