.aside
  position: fixed
  top: -100vh
  left: 0
  width: 100%
  height: 100vh
  background: #7acec3 url("../img/BG-Line.svg")
  background-size: 100% 100%
  color: #fff
  padding: 5% 3% 15% 3%
  text-transform: uppercase
  z-index: 99
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: all ease .3s

  .address
    width: 60%
    align-self: flex-start
  
  .mobile
    width: 80%
    text-align: left
    align-self: flex-end    
    
  .address__line,
  .mobile__line  
    list-style: none
    font-size: 1.2rem
    line-height: 1.2rem  

.open
  top: 0
  transition: all ease .3s

@media screen and (min-width: 1366px)
  .aside
    width: 33%
    height: 500px
    position: relative
    top: 0
    padding: 3%
    
    .address
      width: 90%
         
    .mobile
      width: 80%

    .address__line,
    .mobile__line  
      list-style: none
      font-size: 0.8125rem
      line-height: 0.8125rem  
      
      