.button
  width: 65px
  height: 60px
  background: none
  border: 2px solid #7acec3
  align-self: center
  display: flex
  justify-items: center
  cursor: pointer
  transition: all ease 0.3s

  span
    width: 40px
    height: 3px
    background-color: #7acec3
    margin: 0 auto
    align-self: center
    position: relative

  span::before,
  span::after
    content: ''
    position: absolute
    width: 40px
    height: 3px
    background-color: #7acec3
    left: 0px

  span::before
    top: -7px
      
  span::after
    bottom: -7px

.aside .button 
  border: 2px solid #fff
  
  span,
  span::before,
  span::after
    background-color: #fff

.button:hover,
.button:focus
  border-radius: 30%
  transform: rotate(-45deg) 
  transition: all ease 0.3s  

@media screen and (min-width: 1366px)
  .button
    width: 125px
    height: 120px
  .nav-button
    display: none   