.main__card--title
  width: 100%
  height: 500px
  background: #ebb240 url("../img/BG-Line.svg") 
  background-size: 100% 100%
  padding: 5%
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center

  ul
    margin: 10% 0 120px 10%
    align-self: flex-start
    
  li
    width: 100%
    position: relative
    font-size: 1.2rem
    line-height: 2.5rem
    list-style: none
    text-align: left
  
  li.selected::before
    content: ''
    position: absolute
    left: -30px
    top: 12px
    background-image: url("../img/arrow_icon.png")
    background-size: 19px 15px
    background-repeat: no-repeat
    width: 19px
    height: 15px

  li.selected a
      color: #000
    
  h2
    align-self: flex-end

  a
    color: #fff
    text-decoration: none
    text-transform: uppercase 
    transition: all .3s

  a:hover, a:focus, a:active
    color: #000 
    transition: all .3s

@media screen and (min-width: 768px)
  .main__card--title
    width: 50%

@media screen and (min-width: 1366px)
  .main__card--title
    width: 33%
    padding-top: 10%
    padding-left: 10%

    ul
      margin: 0 0 90px 0% 

    li
      font-size: 0.8125rem
      line-height: 0.8125rem

    li.selected::before
      top: 0          