.main__card--extra
  width: 100%
  height: 500px
  background: #fff url("../img/fondue_BG.png")
  background-position: right 
  background-repeat: no-repeat 
  font-size: 1rem
  font-weight: 300
  line-height: 1rem
  color: #333
  text-transform: uppercase
  padding: 30px 5% 0 5%
  display: flex
  flex-direction: column
  justify-content: space-around
  transition: all 0.3s

  ul
    margin-top: 5%
    width: 90%

  li
    list-style: none
    background-color: hsla(0, 0%, 100%, 0.7)

  span
    font-weight: 700

  p.counter
    font-size: 1rem
    line-height: 1rem
    color: #ff0000
    width: 50%
    text-align: center

  a
    display: block
    position: relative
    text-decoration: none
    font-size: 1.125rem
    color: #333
    margin: 240px 15% 0 15%

  a::before
    content: ''
    width: 19px
    height: 15px
    background-image: url("../img/arrow_icon_yellow.png")
    background-size: 19px 15px
    position: absolute
    left: -30px
    top: 2px 

.main__card--extra:hover,
.main__card--extra:focus
  box-shadow: inset 0 0 15px 5px #7acec3
  transition: all 0.3s


@media screen and (min-width: 768px) 
  .main__card--extra
    width: 50%

    ul
      width: 50%
   
@media screen and (min-width: 1366px)
  .main__card--extra
    width: 34%
    font-size: 0.75rem
    line-height: 0.75rem

    ul
      width: 70%

    a::before
      top: 0  
