.main__card--double
  width: 100%
  height: 500px
  display: flex
  flex-direction: column

.card__half--grey,
.card__half--white
  width: 100%
  height: 250px
  padding: 30px 5% 0 5%
  display: flex
  flex-direction: column
  justify-content: space-around
  transition: all 0.3s

  h3
    width: 50% 

  ul
    margin-top: 5%
    width: 50%

  li
    list-style: none
    text-transform: uppercase
  
  span
    font-weight: 700

  p
    width: 50%
    font-size: 1rem
    line-height: 1.1rem
    text-align: justify
    color: #333

  p.counter
    color: #ff0000
    font-weight: 300
    text-align: center

  a
    display: block
    position: relative
    text-decoration: none
    font-size: 1.125rem
    color: #333
    margin: 12px 15% 0 15%
    text-transform: uppercase

  a::before
    content: ''
    width: 19px
    height: 15px
    background-image: url("../img/arrow_icon_yellow.png")
    background-size: 19px 15px
    position: absolute
    left: -30px
    top: 6px   

.card__half--grey:hover,
.card__half--grey:focus, 
.card__half--white:hover,
.card__half--white:focus
  box-shadow: inset 0 0 15px 5px #7acec3
  transition: all 0.3s

.card__half--grey
  background-color: hsla(0, 0%, 59%, 0.3)
  background-image: url("../img/potter_BG.png")
  background-size: 50%
  background-position: right 
  background-repeat: no-repeat
  align-items: flex-start

.card__half--white
  background-color: #fff
  background-image: url("../img/fiji_BG.png")
  background-size: 40%
  background-position: left 
  background-repeat: no-repeat
  align-items: flex-end

@media screen and (min-width: 768px)
  .main__card--double
    height: 300px
    flex-direction: row-reverse
    flex-wrap: wrap
        
  .card__half--grey,
  .card__half--white
    width: 50%

@media screen and (min-width: 1366px)
  .main__card--double
    width: 33%
    height: 500px
    flex-direction: column
    flex-wrap: nowrap
        
  .card__half--grey,
  .card__half--white
    width: 100%
    font-size: 0.75rem
    line-height: 0.75rem
    p
      font-size: 0.75rem
      line-height: 0.75rem

    a::before
      top: 0  