.header
  width: 100%
  height: 500px
  background-color: hsla(0, 0%, 39%, 0.1)
  padding: 0 10%
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  
.header__logo
  align-self: flex-start   
  p
    width: 90px
    margin: -2px 0
    font-size: 1.125rem
    line-height: 1.125rem
    color: #393d3c;
    text-transform: uppercase

.header__socials
  li
    list-style: none
    display: inline-block
    margin: 0 20px

  img
    transform: scale(1.2)
    opacity: 0.7
    transition: all .3s ease

  a:hover, a:focus, a:active
    img
      transform: scale(1.5)      
      opacity: 1
      transition: all .3s ease

@media screen and (min-width: 768px)
  .header
    background: hsla(0, 0%, 39%, 0.1) url("../img/header_BG.png")
    background-size: 80%
    background-position: right
    background-repeat: no-repeat

  
  .header__socials
    align-self: center
    
    li:first-child
      margin-left: 0

@media screen and (min-width: 1366px)
  .header
    width: 67%
    background-position: right bottom
  
  .header__socials
    align-self: flex-start
    li
      margin: 0 7px

    img
      transform: scale(1)              