@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic-ext')

@import "normalise"  
*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-size: 16px
  font-family: 'Roboto Condensed', sans-serif
  display: flex
  flex-wrap: wrap

h2
  font-size: 3rem
  font-weight: 400
  color: #fff
  text-transform: uppercase
  text-align: right

h3
  font-size: 1.5rem
  font-weight: 300
  line-height: 1.5rem
  text-align: left
  text-transform: uppercase

@import "header"      
@import "aside"
@import "main"

@import "card--title"
@import "card--extra"
@import "card--double" 
@import "button" 
   